.quiz-div
{
  width: 50%;
  height: 30%;
  background-color: rgba(127, 255, 212, 0.599);
  margin-left: 24%;
  padding: 2%;
  border-radius: 1vmin;
  margin-top: 13%;

}
h2
{
  text-align: center;
  color: brown;
  margin-bottom: 5%;
}
li
{
  list-style-type: none;
  margin: 3%;
}
